
/*     310x120      | g-16 |      310x120    */
/* b-16:firstchild  |      |  b-16:lastchild */

/*
>= 1046px : 620px           mit Seitenbar und Rand, Content in voller Breite
>=  991px : 582.6px         selbes Layout, aber Contentbreite schrumpft graduell
>=  901px : 807px - 887px   Tablet-View, Seitenbar unten, hohe Contentbreite
*/

.g-16{
    margin: 0 !important;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}





@media only screen and (max-width: 600px){
    
    .b-16:first-child{
        text-align: left;
    }
    .b-16:first-child img{
        width: 100%;
        ma x-width: 310px;
    }
    .b-16:last-child {
	display: none  !important;
	}
    
}



@media only screen and (min-width: 601px){
    
    .b-16:first-child, .b-16:last-child{
        width: 49.5%;
        max-width: 310px;
    }
    
}



@media only screen and (min-width: 687px) and (max-width: 991px){
    
    .g-16{
        max-width: 624px !important;
    }
    
}

@media (min-width: 901px){
    
    .b-16:first-child, .b-16:last-child{
        width: 49.5%;
    }
    
}



@media (min-width: 991px){
    
    .b-16:first-child, .b-16:last-child{
        width: 49.5%;
    }
    
}





/*
--
su_mushbutton FIX
--
*/


.su-button-wide{
    clear: both;
}






/*
--
give Menus preference over top-slider hover
--
*/


#main-nav, #main-nav *{
    z-index: 999;
}







/*
--
in editor dashboard: fix image column (same width, not too wide); make table somewhat responsive
--
*/

body.page-id-11708 table.wpuf-table{
    width: 100% !important;
    max-width: 555px !important;
}

body.page-id-11708 table.wpuf-table img{
    min-width: 100% !important;
}

body.page-id-11708 table.wpuf-table th:nth-child(1),
body.page-id-11708 table.wpuf-table td:nth-child(1){
    width: 20%;
}






